body {
  padding-left: 11em;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: purple;
  background-color: #A9F5BC }

#op{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #0101DF;
  }

#text{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #FFFFFF;
  background-color: #000000
}